.section-project-info {
  .card-body {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
  
    .group {
      &-1 {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: center;
  
        .left {

          h5 {
            font-size: 25px;
            margin: 0;
          }
        }
                
        .right {
          display: flex;
          flex-direction: row;
          // width: 100%;
          gap: 10px;
          align-items: center;
          
          .alert {
            font-size: 15px;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 0;
            padding: 5px 10px;
          }
        }
      }
  
      &-2 {
        display: flex;
        flex-direction: row;
        width: 100%;
      }
  
      &-3 {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 10px;
        justify-content: space-between;
        
        .left {
          display: flex;
          flex-direction: row;
          // width: 100%;
          gap: 10px;
          align-items: center;
          
          span {
            font-size: 15px;
            // display: flex;
            // flex-direction: row;
            // align-items: center;

          }
        }

        .right {
          .members {
            display: flex;
            flex-direction: row;
            width: 100%;
          }
        }
      }
  
      &-4 {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: center;
  
        .buttons {
          display: flex;
          flex-direction: row;
          width: 100%;
          // justify-content: space-between;
          align-items: center;
          gap: 10px;

          button {
            // width: 100px;
          }
        }
      }
    }
  }
}

